<!DOCTYPE html>
<html id="options">
<title>Upwork jobs feed tracker</title>
<head>
    <link rel="stylesheet" type="text/css" href="options.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="block">
                <form id="settings">
                    <h3 class="heading">Settings</h3>
                    <div class="form-group">
                      <label for="checkboxFetchingEnabled">Enable fetching</label>
                      <label class="label-switch">
                        <input type="checkbox" id="checkboxFetchingEnabled" v-model="isFetchingEnabled" />
                        <div class="checkbox"></div>
                      </label>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label>Fetch interval</label>
                        <select v-model="fetchInterval" v-bind:disabled="!isFetchingEnabled">
                            <option value="1">1 minute</option>
                            <option value="5">5 minutes</option>
                            <option value="10">10 minutes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="checkboxNotificationSound">Play notification sound</label>
                        <label class="label-switch">
                          <input type="checkbox" id="checkboxNotificationSound" v-model="playNotificationSound" />
                          <div class="checkbox"></div>
                        </label>
                    </div>
                </form>
            </div>
            <div class="tlight tsmall meta">Developed by <a href="https://github.com/neeilya/upwork-jobs-feed-tracker" target="_blank">@neeilya</a></div>
        </div>
        <div class="content block">
            <h3>
                My Job Feed
                <template v-if="unreadJobs.length">
                    ({{ unreadJobs.length }} new)
                </template>
            </h3>
            <div v-for="job in jobs" v-bind:class="{ unread: job.isRead === false }" class="job">
                <h3 class="job-title"><a href="https://www.upwork.com/jobs/_{{ job.ciphertext }}" target="_blank">{{{ job.title }}}</a></h3>
                <p class="tmedium tgrey tsmall">
                    <template v-if="job.type === 1">
                        Fixed price
                    </template>
                    <template v-else>
                        Hourly
                    </template>
                    - {{ job.tierText }} -
                    <template v-if="job.type === 1">
                        Est. Budget: ${{ job.amount.amount }}
                    </template>
                    <template v-else>
                        Est. time: {{ job.duration }}
                    </template>
                    <span>- Posted {{ job.createdOn | timeAgo }}</span>
                </p>
                <p class="description tgrey tmedium">
                    <template v-if="job.description !== job.description.substr(0, 200)">
                        <template v-if="job.showfull === true">{{ job.description }}</template>
                        <template v-else>
                            {{ job.description.substr(0, 200) }}...<span class="link" v-on:click="job.showfull = true"> more</span>
                        </template>
                    </template>
                    <template v-else>
                        {{ job.description }}
                    </template>
                </p>
                <p class="skills">
                    <span class="skill-tag" v-for="skill in job.skills">{{ skill.name }}</span>
                </p>
                <p class="client-info tgrey">
                    <span class="payment">
                        Client:
                        <template v-if="job.client.paymentVerificationStatus"><i class="fa fa-check-circle verified" aria-hidden="true"></i></template>
                        Payment
                        <template v-if="job.client.paymentVerificationStatus">
                            verified
                        </template>
                        <template v-else>
                            unverified
                        </template>
                    </span>
                    <span class="rating">
                        <i v-bind:class="{ active: job.client.totalFeedback >= 1 }" class="fa fa-star" aria-hidden="true"></i>
                        <i v-bind:class="{ active: job.client.totalFeedback >= 2 }" class="fa fa-star" aria-hidden="true"></i>
                        <i v-bind:class="{ active: job.client.totalFeedback >= 3 }" class="fa fa-star" aria-hidden="true"></i>
                        <i v-bind:class="{ active: job.client.totalFeedback >= 4 }" class="fa fa-star" aria-hidden="true"></i>
                        <i v-bind:class="{ active: job.client.totalFeedback >= 4.9 }" class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span class="spent tdark">
                        ${{ job.client.totalSpent | money_human }}
                    </span> spent
                    <span class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.client.location.country }}
                    </span>
                </p>
            </div>
            <div v-if="jobs.length == 0">
                <h3 class="mb-0">No jobs so far :(</h3>
                <p class="tlight">
                    This may happen either because you just installed<br/>
                    extension and it needs some time to load data<br>
                    or you have not configured your jobs feed on upwork.<br/><br/>
                    In the latter case please refer to <a target="_blank" href="https://github.com/neeilya/upwork-jobs-feed-tracker#warning-to-freelancers">this instruction.</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="options.js"></script>
</body>
</html>
